[submodule "minhook"]
	path = minhook
	url = https://github.com/TheNewJavaman/minhook
[submodule "UnrealModLoader"]
	path = UnrealModLoader
	url = https://github.com/TheNewJavaman/UnrealModLoader
[submodule "PatternStreams"]
	path = PatternStreams
	url = https://github.com/TheNewJavaman/PatternStreams
